.logo-container {
  width: 10px;
  height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  margin: 70px;
}

.logo-container img {
  width: 25vmin;
  height: auto;
  border-radius: 25%;
}